pandas
numpy
langchain
neo4j
python-dotenv
sentence_transformers
ipykernel
chromadb
elevenlabs
asyncio
sounddevice
websockets
openai
langchain_huggingface
langchain_community
langchain_core
langchain_openai
langchain_groq
langchain-chroma
fastapi
uvicorn
twilio
groq
python-multipart
